[submodule "dark-triad-assessments-webapp/dark-triad-assessments.wiki"]
	path = dark-triad-assessments-webapp/dark-triad-assessments.wiki
	url = https://github.com/Exios66/dark-triad-assessments.wiki.git
